<%- include('./partials/header') %>

  <body>
    <h1>Admin Page</h1>
    
    <a href="class/new">Add New Class</a>
    <a href="class/all">All Classes</a>
  </body>

<%- include('./partials/footer') %>