<h2>Register</h2>

<form action="/class/<%= class._id %>/register" method="POST">

    <label>Name:
        <input type="text" name="name">
      </label><br />

      <label>Email:
        <input type="text" name="email">
      </label><br />

  <button type="Register">Register</button>

</form>