<h2>Book Class</h2>

<form action="/register/<%= classDoc._id %>" method="POST">
    <label>Name:
        <input type="text" name="name">
      </label><br />

      <label>Email:
        <input type="text" name="email">
      </label><br />

  <button type="Register">Register</button>
</form>