<%- include('../partials/header') %>

  <body>
    
    <a href="/list">View All Class</a>
    <form action="/user/logout" method="get">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>