<%- include('../partials/header') %>

  <body>
    <h1>Welcome Back!</h1>
    <ul>
    <li><a href="/list">View All Class</a></li>
    <li><form action="/user/logout" method="get">
      <button id= "logout" type="submit">Logout</button></form></li>
    </form>
    </ul>
  </body>
</html>

<%- include('../partials/footer') %>