<%- include('../partials/header') %>

<form action="/user/login" method="post" class="loginContainer">
    <h1 class="loginHeader">Login</h1>
    <section>
        <input class="email" name="email" type="text" autocomplete="username" placeholder="email" required autofocus>
    </section>
    <br/><br/>
    <section>
        <input class="current-password" name="password" type="password" autocomplete="current-password" placeholder="password" required>
    </section>
    <br/>
    <button id ="login" type="submit">Login</button>
    <br/><br/>
    <p id="notMember">Not a member? <a href="/user/signup">Signup now</a></p>
</form>