<%- include('../partials/header') %>

<form action="/user" method="POST" class="loginContainer">
  <h1 class="loginHeader">Join Us!</h1>
  <input class= "email" type="email" placeholder="email" name="email" required>
  <br/><br/>
  <input class="current-password" type="password" placeholder="password" name="password" required>
  <br/><br/>
  <button id="signup" type="submit">Sign Up</button>
</form>