<h2>Edit Details</h2>
<form action="/class/<%=id%>?_method=PUT" method="POST">

    <label>Class Type:
      <select name="classType">
        <option value="Yoga">Yoga</option>
        <option value="Pilates">Pilates</option>
        <option value="Cycle">Cycle</option>
        <option value="BodyCombat">BodyCombat</option>
      </select>
    </label><br />

    <label>Instructor:
      <input type="text" name="instructor">
    </label><br />

    <label>Level:
      <input type="text" name="level">
    </label><br />

    <label>Date:
      <input type="date" name="date">
    </label><br />

    <label>Duration:
      <input name="duration">
    </label><br />
    
    <button type="submit">Save Changes</button>
  
  </form>