body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #2c1e4a;
}

a {
  color: #00B7FF;
}

.loginContainer {
  width: 400px;
  height: 450px;
  margin-top: 50px;
  margin-left: 450px;
  background-color: white;
  text-align: center;
  border-radius: 30px;
}

.loginHeader {
  padding-top: 50px;
  padding-bottom: 10px;
}

.email {
  width: 250px;
  height: 50px;
  border: 2px solid #f8f8ff;
  text-align: center;
}

.current-password {
  width: 250px;
  height: 50px;
  border: 2px solid #f8f8ff;
  text-align: center;
}

#login {
  width: 250px;
  border: none; 
  background-color: #5e376d;
  color: white;
  padding: 8px 32px;
  font-size: 18px;
  margin-top: 15px;
}

#notMember {
  margin-top: 30px;
}

.role {
  border: 2px solid #f8f8ff;
  width: 250px;
  height: 50px;
  text-align: center;
}

#signup {
  width: 250px;
  border: none; 
  background-color: #5e376d;
  color: white;
  padding: 8px 32px;
  font-size: 18px;
}

/* views/class/all  */

#classTypeFilter {
  color: white;
}

#classFilter {
  border: 2px solid #f8f8ff;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  text-align: center;
}

#timetable {  
  border-collapse: collapse;
  border: 1px solid #ddd;;
  width: 100%;
}

#timetable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

#timetable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: white;
  color: black;
}

#allClasses {
  color: white;
}

#delete{
  border-radius: 20px;
  border: none;
  background-color: red;
  color: white;
}

/* views/class/show  */

#registeredMember {  
  border-collapse: collapse;
  border: 1px solid #ddd;;
  width: 100%;
}

#registeredMember th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

#registeredMember td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: white;
  color: black;
}

#registered {
  color: white;
}

#show-page {
  color: white;
}

/* views/class/new */

#enterClass {
  color: white;
}

.newClassLabel {
  color: #d73cbe;
}

.newClassSelect {
  border: 2px solid #f8f8ff;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  text-align: center;
}

#newClassBtn {
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 30px;
}

/* views/list */

#listTable {  
  border-collapse: collapse;
  border: 1px solid #ddd;;
  width: 100%;
}

#listTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

#listTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: white;
  color: black;
}

/* views/register */

#bookClass {
  color: white;
}

.registerField {
  width: 250px;
  height: 30px;
  border: 2px solid #f8f8ff;
  text-align: center;
}

#bookClassBtn {
  border: none;
  width: 150px;
  height: 25px;
}

