body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f8f3f2;
}

a {
  color: #00B7FF;
}

.loginContainer {
  width: 400px;
  height: 450px;
  margin-top: 50px;
  margin-left: 450px;
  background-color: #223d3c;
  text-align: center;
  border-radius: 30px;
}

.loginHeader {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #f8f3f2;
}

.email {
  width: 250px;
  height: 50px;
  border: 2px solid #f8f8ff;
  text-align: center;
}

.current-password {
  width: 250px;
  height: 50px;
  border: 2px solid #f8f8ff;
  text-align: center;
}

#login {
  width: 250px;
  border: none; 
  background-color: #345E5C;
  color: white;
  padding: 8px 32px;
  font-size: 18px;
  margin-top: 15px;
}

#notMember {
  margin-top: 30px;
  color: #f8f3f2;
}

.role {
  border: 2px solid #f8f8ff;
  width: 250px;
  height: 50px;
  text-align: center;
}

#signup {
  width: 250px;
  border: none; 
  background-color: #345E5C;
  color: white;
  padding: 8px 32px;
  font-size: 18px;
}

/* views/class/all  */


#classTypeFilter {
  color: #345E5C;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

#classFilter {
  border: 2px solid #f8f8ff;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  text-align: center;
}

#timetable {  
  border-collapse: collapse;
  border: 1px solid #ddd;;
  width: 100%;
}

#timetable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

#timetable td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
}

#allClasses {
  color: black;
}

#delete{
  border-radius: 20px;
  border: none;
  background-color: red;
  color: white;
}

/* views/class/show  */

#registeredMember {  
  border-collapse: collapse;
  border: 1px solid #ddd;;
  width: 100%;
}

#registeredMember th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

#registeredMember td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: white;
  color: black;
}

#registered {
  color: black;
}

#show-page {
  color: #345E5C;
}

/* views/class/new */

#enterClass {
  color: black;
}

.newClassLabel {
  color: #345E5C;
}

.newClassSelect {
  border: 2px solid #f8f8ff;
  border-radius: 5px;
  width: 250px;
  height: 30px;
  text-align: center;
}

#newClassBtn {
  border: none;
  background-color: #223d3c;
  color: white;
  width: 150px;
  height: 25px;
}

/* views/list */

#listTable {  
  border-collapse: collapse;
  border: 1px solid #ddd;;
  width: 100%;
}

#listTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

#listTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: white;
  color: black;
}

#register{
  border-radius: 20px;
  height: 25px;
  width: 70px;
  border: none;
  background-color: #223d3c;
  color: white;
}

#registerLink{
  color: white;
  text-decoration: none;
}

#logoutList {
  border: none;
  width: 100px;
  height: 40px;
  background-color: #345E5C;
  color: white;
  float: right;
  font-size: 15px;
}

/* views/register */

#bookClass {
  color: #223d3c;
}

.registerField {
  width: 250px;
  height: 30px;
  border: 2px solid #f8f8ff;
  text-align: center;
}

#bookClassBtn {
  border: none;
  background-color: #223d3c;
  color: white;
  width: 150px;
  height: 25px;
}

/* views/admin */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #345E5C;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

#logout {
  border: none; 
  background-color: #345E5C;
  color: white;
  width: 90px;
  height: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 14px;
}
