<%- include('../partials/header') %>

<h2 id="bookClass">Book Class</h2>

<form action="/register/<%= classDoc._id %>" method="POST">
    
  <input class="registerField" type="text" name="name" placeholder="name">
  <br /><br/>

    
  <input class="registerField" type="text" name="email" placeholder="email">
  <br/><br />

  <button id="bookClassBtn" type="Register">Register</button>

</form>